USE [JC_Db]
GO
/****** Object:  StoredProcedure [dbo].[sp_Seguridad_ObtenerMenuDinamico]    Script Date: 7/04/2026 19:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_Seguridad_ObtenerMenuDinamico]
(
    @IdUsuario NVARCHAR(50) = NULL,
    @IdPerfil  INT = NULL,
    @IdRol     INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    IF @IdUsuario IS NULL AND @IdPerfil IS NULL AND @IdRol IS NULL
    BEGIN
        RAISERROR('Debe enviar al menos un filtro: IdUsuario, IdPerfil o IdRol.', 16, 1);
        RETURN;
    END

    SELECT
        x.IdMenuNivel1,
        x.MenuNivel1,
        x.IconoNivel1,
        x.OrdenNivel1,
        x.IdMenuNivel2,
        x.MenuNivel2,
        x.IconoNivel2,
        x.OrdenNivel2,
        x.IdMenuNivel3,
        x.MenuNivel3,
        x.RutaNivel3,
        x.IconoNivel3,
        x.OrdenNivel3
    FROM
    (
        SELECT DISTINCT
            -- NIVEL 1
            COALESCE(n1.IdMenu, n2.IdMenu, n3.IdMenu) AS IdMenuNivel1,
            COALESCE(n1.NombreMenu, n2.NombreMenu, n3.NombreMenu) AS MenuNivel1,
            COALESCE(n1.Icono, n2.Icono, n3.Icono) AS IconoNivel1,
            COALESCE(n1.OrdenMenu, n2.OrdenMenu, n3.OrdenMenu) AS OrdenNivel1,

            -- NIVEL 2
            CASE WHEN n1.IdMenu IS NOT NULL THEN n2.IdMenu ELSE NULL END AS IdMenuNivel2,
            CASE WHEN n1.IdMenu IS NOT NULL THEN n2.NombreMenu ELSE NULL END AS MenuNivel2,
            CASE WHEN n1.IdMenu IS NOT NULL THEN n2.Icono ELSE NULL END AS IconoNivel2,
            CASE WHEN n1.IdMenu IS NOT NULL THEN n2.OrdenMenu ELSE NULL END AS OrdenNivel2,

            -- NIVEL 3
            CASE WHEN n2.IdMenu IS NOT NULL THEN n3.IdMenu ELSE NULL END AS IdMenuNivel3,
            CASE WHEN n2.IdMenu IS NOT NULL THEN n3.NombreMenu ELSE NULL END AS MenuNivel3,
            CASE WHEN n2.IdMenu IS NOT NULL THEN n3.Ruta ELSE NULL END AS RutaNivel3,
            CASE WHEN n2.IdMenu IS NOT NULL THEN n3.Icono ELSE NULL END AS IconoNivel3,
            CASE WHEN n2.IdMenu IS NOT NULL THEN n3.OrdenMenu ELSE NULL END AS OrdenNivel3
        FROM dbo.Usuario u
        INNER JOIN dbo.SegUsuarioPerfil up
            ON u.IdUsuario = up.IdUsuario
           AND up.EsActivo = 1
        INNER JOIN dbo.SegPerfilRol pr
            ON up.IdPerfil = pr.IdPerfil
           AND pr.EsActivo = 1
        INNER JOIN dbo.SegRolMenuAccion rma
            ON pr.IdRol = rma.IdRol
           AND rma.EsActivo = 1
           AND rma.EsPermitido = 1
        INNER JOIN dbo.SegAccion a
            ON rma.IdAccion = a.IdAccion
           --AND a.CodigoAccion = 'VER'
           AND a.EsActivo = 1
        INNER JOIN dbo.SegMenu n3
            ON rma.IdMenu = n3.IdMenu
           AND n3.EsActivo = 1
        LEFT JOIN dbo.SegMenu n2
            ON n3.IdMenuPadre = n2.IdMenu
           AND n2.EsActivo = 1
        LEFT JOIN dbo.SegMenu n1
            ON n2.IdMenuPadre = n1.IdMenu
           AND n1.EsActivo = 1
        WHERE
            (@IdUsuario IS NULL OR u.IdUsuario = @IdUsuario)
            AND (@IdPerfil IS NULL OR up.IdPerfil = @IdPerfil)
            AND (@IdRol IS NULL OR pr.IdRol = @IdRol)
    ) x
    ORDER BY
        x.OrdenNivel1,
        ISNULL(x.OrdenNivel2, 0),
        ISNULL(x.OrdenNivel3, 0);
END
